
//
// VARIABLES
//

// Colors
$blue: #bf0076;

// Grays
$black: #fff;
$darkerGray: #eee;
$darkGray: #666;
$gray: #333;
$lightGray: #222;
$white: #000;

// Font stacks
$helvetica: "Didact Gothic", "Open Sans", Helvetica, sans-serif;
$helveticaNeue: "Didact Gothic", "Open Sans", "Helvetica Neue", sans-serif;
$georgia: Philosopher, Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}